.react-pdf__Page__canvas{
    max-height: 500px !important;
    border:1px solid #000 ;
    border-radius:5px;
    width:100% !important;
}

.react-pdf__Page__canvas canvas{
    border:1px solid #AACC00;
    width:100% !important;
} 
.showFile button{
    background-color:#00b0ff;
}

.showFile button:hover{
    background-color:#0593d5;
}




@media screen and (max-width:850px){
    .react-pdf__Page__canvas{
        max-height: 300px !important;
        border:1px solid #000 ;
        border-radius:5px;
        width:100% !important;
    }
    .div1{
        height: 430px;
    }
}