.page-footer{
    position: relative;
    bottom:-100px;
    background-color:#fff;
    z-index: 50;
}

.page-footer h5{
    color:#AACC00 !important;
}
.page-footer p{
    color:#AACC00 !important;
}
.footer-copyright{
    color:#fff!important;
    background-color: #94af09 !important;
}