.Home {
    width: 60%;
    margin: 5% auto;
    
}
.Home .File .body{
    background-color:#fff;
    box-shadow: -5px -1px 58px -17px rgba(0,0,0,0.29);
    -webkit-box-shadow: -5px -1px 58px -17px rgba(0,0,0,0.29);
    -moz-box-shadow: -5px -1px 58px -17px rgba(0,0,0,0.29);
    height: 420px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.Home .File .body img {
    width:150px;
    height:150px;
}
#NoIs{

}
.Home .File .body h3 {
    width:80%;
    font-size: 1.8rem;
    text-align:center;
}
.Home .File .bottom .btn{
    background-color:#00b0ff ;
    font-size:1.2rem;
    border-radius:15px;
    width: 100px;
}
.Home button{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:#00b0ff ;
    font-size: 1.4rem;
    /* width: 110px; */
    height: 50px;
    border-radius:15px;

    margin: 5% auto;
}

.bottom .progress{
    margin:0 auto;
    margin-top:30px;
    width:400px;
    display:flex;
    align-items: center;
    justify-content: center;
    height:15px;
    border-radius:50px;
    background-color:#acdef5;
}

.bottom .progress .determinate{
    background-color:#c4e22d !important;
 
}

.Home .inner_btn{
    display: flex;
    justify-content:center;
    align-items: center;
}
.Home .inner_btn span{
    margin: 0 6px;
}


.input-field input[type=number]:focus + label {
    color: #AACC00;
  }
  /* label underline focus color */
   .input-field input[type=number]:focus {
    border-bottom: 1px solid #AACC00;
    box-shadow: 0 1px 0 0 #AACC00;
  }


   .input-field input[type=number]:focus {
    border-bottom: 1px solid #AACC00;
    box-shadow: 0 1px 0 0 #AACC00;
  }
  /* valid color */
    .input-field input[type=number].valid {
    border-bottom: 1px solid #AACC00;
    box-shadow: 0 1px 0 0 #AACC00;
  }